:root {
  --colorOne: #0D1F22;
  --colorTwo: #264027;
  --colorThree: #6F732F;
  --colorFour: #B38A58;
  --colorFive: #3C5233;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', 'Tahoma', Sans-Serif;
  color: white;
}

html, body {
  height: 100%;
  background-color: var(--colorThree);
}

#library {
  display: grid;
  grid-template-rows: 60px 27fr;
}

.header {
  padding: 10px;
  background-color: var(--colorOne);
  color: white;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header div {
  display: flex;
  gap: 15px;
  
  color: rgba(255,255,255,0.708);
}

.books{
  height: auto;
  padding: 20px;
  
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.books .book {
  width: 100%;
  height: 290px;
  padding: 15px;
  background-color: var(--colorTwo);
  
  position: relative;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.book .title {
  font-size: 2em;
  opacity: 0.75;
}

.book button {
  width: 50px;
  height: 50px;
  padding: 10px;
  
  position: absolute;
  right: 15px;
  top: 15px;
  
  background-color: var(--colorOne);
  border: hidden;
  border-radius: 100%;
  
  color: white;
  font-size: 24px;
}

.book .readStatus {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.readStatus .readStatusBtn {
  width: 5px;
  height: 5px;
  padding: 5px;
  
  border: 2px solid white;
  border-radius: 100%;
}

.popup {
  width: 100%;
  height: 100%;
  
  background-color: #00000083;
  position: fixed;
  
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popupForm {
  padding: 35px;
  
  position: relative;
  
  background: var(--colorOne);
  border-radius: 8px;
  
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.popupForm h2 {
  align-self: center;
}

.popupForm .closePopup {
  position: absolute;
  top: 15px;
  right: 15px;
  
  background-color: transparent;
  border: hidden;
  
  color: white;
  font-size: 26px;
  font-weight: 600;
}

.popupForm .title,
.popupForm .author,
.popupForm .pages {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.popupForm label{
  font-size: 22px;
}

.popupForm input{
  background-color: rgba(255,255,255,0.634);
}

.popupForm input:focus{
  border: hidden;
  outline: none;
  box-shadow: none;
}

.popupForm input[type="text"],
.popupForm input[type="number"] {
  width: 200px;
  height: 15px;
  padding: 5px;
  
  border: hidden;
  border-radius: 3px;
  
  font-size: 16px;
}

.popupForm .read {
  display: flex;
  align-items: center;
  gap: 5px;
}

.popupForm .addBook {
  width: 50%;
  padding: 6px;
  
  align-self: center;
  
  background-color: var(--colorTwo);
  border: hidden;
  border-radius: 5px;
  
  font-weight: 700;
}

.createEntry {
  width: 60px;
  padding: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
  
  position: fixed;
  right: 25px;
  bottom: 25px;
  
  background-color: var(--colorFour);
  border: hidden;
  border-radius: 100%;
  
  font-size: 24px;
}

@media (min-width: 700px){
  .books .book{
    width: 280px;
    padding: 10px
  }
  
  .books{
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    
    gap: 20px;
  }
  
}