:root {
  --c1: #1D0338;
  --c2: #AF77EC;
  --c3: #7E6685;
  --c4: #E8D0F0;
  --c5: #D2A5CA;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', 'Tahoma', Sans-Serif;
  color: white;
}

html, body {
  height: 100%;
  background-color: var(--c4);
}

#header {
  padding: 10px;
  background-color: var(--c1);
  color: white;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header h1 {
  color: var(--c5);
  font-size: 3em;
}

#header div {
  display: flex;
  gap: 15px;
  
  font-size: 1rem;
  color: white;
}

#container {
  padding: 30px;
  
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bEntry {
  background-color: var(--c1);
  padding: 25px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  
  border: none;
  border-radius: 40px;
  
  font-size: 1.5rem;
}

#new {
  padding: 10px;
  background-color: var(--c3);
  
  display: flex;
  position: fixed;
  
  color: var(--c5);
  font-size: 20px;
  letter-spacing: 2px;
  
  border: 2px solid transparent;
  border-radius: 15px;
  
  bottom: 2em;
  right: 1em;
}

@media only screen and (min-width: 700px){
  #container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
  
  .books .book{
    width: auto;
    padding: 10px;
  }
  
}
